/*
	This CSS file contains global styles shared across all pages.

	Content:
	-- Custom checkboxes
	-- Custom dropdowns
	-- Custom File Upload component
	-- Custom Switcher component
*/

/* -- Custom checkboxes */
.checkbox {
	display: inline-block;
	float: left;
	height: 35px;
	width: 23px;
	margin-right: 7px;
	background: url("../img/checkbox.png") center no-repeat;
    background-size: 80%;
}
.checkbox.checked {
	background: url("../img/checkbox-checked.png") center no-repeat;
    background-size: 80%;
}
.checkbox + label {
    line-height: 35px;
    width: inherit;
}


/* -- Custom dropdowns */
.dropdown {
	position: relative;
	display: inline-block;
	width: 300px;
	height: 35px;
	border: 1px solid #b3b0ab;
	padding: 0px 0px 0px 1em;
}
.dropdown .dropdown-opener {
	margin: 0;
	padding-right: 25px;
	overflow: hidden;
	background: url("../img/dropdown-opener.png") 95% center no-repeat;
    background-size: 7%;
    word-break: break-all;
}
.dropdown ul {
	display: block;
	position: absolute;
	max-height: 300px;
    min-width: 100%;
	overflow-y: auto;
	margin: 0;
	padding: 0 !important;
	top: 20px;
	left: -1px;
	border: 1px solid #b3b0ab;
	background: #fff;
	z-index: 100;
}
.dropdown ul.closed {
	display: none;
}
.dropdown ul li.disabled {
    color: #999999;
}
.dropdown ul li {
	padding: 3px 1em;
	height: 1.2em;
	line-height: 1.2em;
    white-space: nowrap;
	overflow: hidden;
}
.dropdown ul li[data-selected="selected"] {
	background: #e8e7e5;
}
.dropdown ul li:hover {
	background: #e8e7e5;
}
.dropdown ul li.disabled:hover {
	background: none;
}


/* -- Custom dropdown-buttons */
.buttons-dropdown {
    position: relative;
    display: inline-block;
    font-size: 1em;
}
/*
.buttons-dropdown .buttons-dropdown-opener {
    width: 100px;
    display: inline-block;
    padding: 0 40px 0 0;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: url("../img/btn-next.png") center no-repeat;
    color: #fff;
    cursor: pointer;
}
*/
.buttons-dropdown .buttons-dropdown-list {
    display: none;
}
.buttons-dropdown .buttons-dropdown-list.expanded {
    position: absolute;
    margin: 0 1px;
    padding: 0;
    border: 1px solid #000;
    background: #fff;
    bottom: 2.2em;
    right: -1px;
    display: block;
}
.buttons-dropdown .buttons-dropdown-list li {
    height: 35px;
	line-height: 35px;
    position: relative;
    height: 2em;
	line-height: 2em;
    margin: 0;
	border-top: 1px solid #e5e5e5;
	border-bottom: 0;
	overflow: hidden;
}
.buttons-dropdown .buttons-dropdown-list li input[type="submit"] {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 20px;
    text-align: left;
    background: none;
    border: 0;
    color: #000;
    outline: none;
}
.buttons-dropdown .buttons-dropdown-list li input[type="submit"]:hover {
    background: #e8e7e5;
    cursor: pointer;
}
.buttons-dropdown .buttons-dropdown-list li input[disabled="disabled"] {
    opacity: 0.5;
}
.buttons-dropdown .buttons-dropdown-list li input[disabled="disabled"]:hover {
    background: none;
    cursor: default;
}


/* -- Custom File Upload component */
.file-upload-wrapper {
    display: inline-block;
    width: 248px;
    padding: 0;
}
.file-upload-wrapper input[type="file"] {
    position: fixed;
    left: -10000px;
}
.file-upload-wrapper .file-upload-label {
    display: inline-block;
    position: relative;
    float: right;
    width: 100px;
    padding: 0.5em 0;
    margin: 0;
    background: #4d2940;
    color: #fff !important;
    border: 0;
    text-align: center;
    font-size: 1em;
    line-height: 1em;
    cursor:  pointer;
}
.file-upload-wrapper .file-upload-info {
    line-height: 2em;
    float: left;
    width: 55%;
    font-style: italic;;
    word-wrap: break-word;
}


/* -- Custom Switcher component */
.switch-wrapper {
    display: inline-block;
    text-align: left;
}
.switch-wrapper .switch-toggle-wrapper {
    display: inline-block;
    width: 45px;
    height: 15px;
    padding: 5px;
    background: #e8e7e6;
    border: 2px solid #b3b0ab;
    border-radius: 20px;
}
.switch-wrapper .switch-toggler {
    background: #4d2940;
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 10px;
}
.switch-wrapper.state-off .switch-toggler {
    background: red;
}
.switch-wrapper.state-on .switch-toggler {
    background: green;
}
.switch-wrapper span {
    display: inline-block;
    line-height: 29px;
    margin: 0 7px;
}
.switch-wrapper .switch-label-on {
    float: right;
}
.switch-wrapper .switch-label-off {
    float: left;
}